<%= render 'shared/modal', modal_title: "Search channel" do %>
  <div class="max-h-full flex flex-col overflow-hidden gap-4">
    <%= render 'form' %>
    <div class="max-h-full overflow-y-auto">
    </div>
  </div>
<% end %>
