<%= render 'shared/modal', modal_title: "Add channel" do %>
  <div class="max-h-full flex flex-col overflow-hidden gap-4">
    <%= form_with url: channels_path,
                  method: :get do |f| %>
      <%= f.text_field :name,
                        class: 'w-full rounded border-gray-300 focus:border-slack-extra-light/50 focus:ring-slack-extra-light/50',
                        options: { autofocus: true } %>
      <%= f.submit "Search", class: 'mt-4 w-full bg-slack-medium text-white rounded p-2 cursor-pointer' %>
    <% end %>
    <div class="max-h-full overflow-y-auto">
      <div id="results"></div>
    </div>
  </div>
<% end %>
