<%= turbo_frame_tag 'modal' do %>
  <div data-controller="modal" class="absolute z-20 inset-0 flex items-center-justify-center">
    <div class="absolute h-full w-full bg-black/70" data-action="click->modal#close"></div>
    <div class="z-10 m-auto bg-white rounded h-screen md:h-fit max-h-screen md:max-h-[50vh] w-full md:w-1/2 lg:w-5/12 p-4 overflow-y-auto flex flex-col gap-4">
      <div class="flex w-full gap-4 items-center">
        <h3 class="grow font-bold"><%= modal_title ||= "" %></h3>
        <span class="w-8 h-8 flex items-center justify-center rounded hover:bg-gray-100 hover:cursor-pointer" data-action="click->modal#close">
          <i class="fa-solid fa-xmark grow-0"></i>
        </span>
      </div>
      <%= yield %>
    </div>
  </div>
<% end %>
