<div class="bg-slack text-white text-sm p-3 shadow-line-left shadow-slack-extra-light flex flex-col gap-4 overflow-y-auto">
  <% 10.times do %>
    <div class="h-7 w-7 bg-emerald-500 rounded flex items-center justify-center shrink-0">
      S
    </div>
  <% end %>
  
</div>
