<div class="h-full flex flex-col">
  <%= render 'top' %>
  <div class="flex grow overflow-hidden">
    <%#= render 'far_left' %>
    <%= render 'left', channels: @channels || [] %>
    <%= render 'center' %>
    <%= render 'right' %>
  </div>
</div>
