<div class="h-full flex flex-col">
  <%= render 'top' %>
  <div class="flex grow overflow-hidden">
    <%= render 'left', channels: current_user.channels || [] %>
    <div class="h-full grow flex flex-col shadow-line-left shadow-gray-200 max-w-full overflow-auto">
      <div id='content' class="h-full grow flex flex-col max-h-full overflow-hidden"></div>
    </div>
  </div>
</div>
