<div class="container m-auto">
  <h1 class="mb-4">Edit post</h1>
  <div class="border-2 rounded-xl shrink-0 overflow-hidden">
    <%= render 'form', postable: @post.postable, post: @post %>
  </div>
</div>
